In [1]:
# import libraries

import GetOldTweets3 as got
import pandas as pd
import numpy as np
import time

In [2]:
# https://pypi.org/project/GetOldTweets3/
# these next two cells are to figure out the structure of a tweet

tweetCriteria = got.manager.TweetCriteria().setUsername('projectlincoln')\
                                           .setMaxTweets(2)
tweet = got.manager.TweetManager.getTweets(tweetCriteria)[0]

print(tweet.id)
print(tweet.text)
print(tweet.hashtags)
print(tweet.date)
print(tweet.geo)

1304062335812685825
 Trump has radicalized America. Join @RonSteslow, @SteveSchmidtSES, and @reedgalen tonight (9/10) at 6 PM ET as they discuss how Trump incites violence and what you can do to help defeat him in November. RSVP:

2020-09-10 14:21:03+00:00

In [3]:
tweet = got.manager.TweetManager.getTweets(tweetCriteria)[1]

print(tweet.id)
print(tweet.text)
print(tweet.hashtags)
print(tweet.date)
print(tweet.geo)

1304055313629241344
https://twitter.com/realDonaldTrump/status/1304040990550958081

2020-09-10 13:53:09+00:00

In [8]:
# create a function to get tweets from Twitter with GetOldTweets3

def get_old_tweets(hashtag, since, until, center = [], radius = '150km'):
   
    # create an empty list to collect the tweets
    
    all_tweets = []
    
    # set search criteria: hastag - keyword, store emoji in unicode, from (since) to (until), in location (near), within distance (radius)
    
    tweetCriteria = got.manager.TweetCriteria()\
                               .setQuerySearch(hashtag)\
                               .setTopTweets(False)\
                               .setEmoji('unicode')\
                               .setSince(since)\
                               .setUntil(until)\
                               .setNear(center)\
                               .setWithin(radius)\
                               .setMaxTweets(10_000)
 
    # for loop to iterate each tweet to create a dictionary to store it in a dataframe
    for tweet in got.manager.TweetManager.getTweets(tweetCriteria):
        tweets = {}
        tweets['id'] = tweet.id
        tweets['text'] = tweet.text
        tweets['keyword'] = tweet.hashtags
        tweets['user_name'] = tweet.username
        tweets['date'] = tweet.date
        tweets['location'] = tweet.geo

        all_tweets.append(tweets)

    df = pd.DataFrame(all_tweets)
    
    return df

In [9]:
# get tweets and assign the dataframe

df = get_old_tweets(hashtag = 'earthquake', since = '2020-03-18', until = '2020-03-21', center = ['Magna'])

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   id         10000 non-null  object
 1   text       10000 non-null  object
 2   keyword    10000 non-null  object
 3   user_name  10000 non-null  object
 4   date       10000 non-null  datetime64[ns, UTC]
 5   location   10000 non-null  object
dtypes: datetime64[ns, UTC](1), object(5)
memory usage: 468.9+ KB

In [11]:
df.head()

,id,text,keyword,user_name,date,location
0,1241152458912673794,TK Kirkland's Reaction To Earthquake's Ex-Wife...,,DarkDon_,2020-03-20 23:59:40+00:00,
1,1241152416214474753,That sound you hear is NOT an earthquake. It‚Äôs...,,ReallyInID,2020-03-20 23:59:30+00:00,
2,1241152284827856896,he said he stocked up on ammo cause he knew Th...,,folsworth,2020-03-20 23:58:58+00:00,
3,1241152178695405570,"If an earthquake separates CA, WA, and OR from...",,Colony14,2020-03-20 23:58:33+00:00,
4,1241152072818364416,"#Sismo M 4 SOUTH OF BALI, #INDONESIA. 20-03-20...",#Sismo #INDONESIA #Temblor #CSEM #EMSC #Earthq...,MonitorSismico,2020-03-20 23:58:08+00:00,

In [12]:
# save the results to a csv file

df.to_csv('/Users/juhee/Desktop/GA/lsmtmp/juhee/data/earthquakes.csv', index = False)

In [13]:
# another earthquake in Ridgecrest on July 4, 2019 and July 5, 2019

df = get_old_tweets(hashtag = 'earthquake', since = '2019-07-04', until = '2020-07-06', center = ['Ridgecrest'])

In [14]:
df.head()

,id,text,keyword,user_name,date,location
0,1279927802381299713,A M1.5 earthquake has been reported by the USG...,,quakeupdates,2020-07-05 23:59:02+00:00,
1,1279927794835656704,"USGS reports a M1.5 earthquake, 35 km ESE of M...",#earthquake,everyEarthquake,2020-07-05 23:59:00+00:00,
2,1279927679039528961,My money on Baki. His old man stopped an earth...,,RicanGuard,2020-07-05 23:58:33+00:00,
3,1279927657199616000,"I have those same things. But not for ""earthqu...",,DMersault,2020-07-05 23:58:28+00:00,
4,1279927624110751744,"Magnitude 1.5 #earthquake, 37.0 km SE of Mina,...",#earthquake,NVEarthquakes,2020-07-05 23:58:20+00:00,

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   id         10000 non-null  object
 1   text       10000 non-null  object
 2   keyword    10000 non-null  object
 3   user_name  10000 non-null  object
 4   date       10000 non-null  datetime64[ns, UTC]
 5   location   10000 non-null  object
dtypes: datetime64[ns, UTC](1), object(5)
memory usage: 468.9+ KB

In [16]:
# save the results to a csv file

df.to_csv('/Users/juhee/Desktop/GA/lsmtmp/juhee/data/ridgecrest.csv', index = False)

In [17]:
# run again to collect non-disaster related tweets

df = get_old_tweets(hashtag = '', since = '2020-03-18', until = '2020-03-21', center = ['Magna'])

In [18]:
df.head()

,id,text,keyword,user_name,date,location
0,1241152541284544512,no les pasa que no hay tweet que se les ocurra...,,CarlaAlganiaraz,2020-03-20 23:59:59+00:00,
1,1241152541284536322,R4üö©,,werdumJr22,2020-03-20 23:59:59+00:00,
2,1241152541284536321,Keep in mind that he says many things that hav...,,JoAnnNYNY,2020-03-20 23:59:59+00:00,
3,1241152541280403459,"Algunos ganan exageradas sumas, que se sacrifi...",,1974bogotano,2020-03-20 23:59:59+00:00,
4,1241152541276213249,Muy bueno Manu. Que pegada la del comentarista,,segundoacuna,2020-03-20 23:59:59+00:00,

In [19]:
# save the results to a csv file

df.to_csv('/Users/juhee/Desktop/GA/lsmtmp/juhee/data/whatever.csv', index = False)

In [20]:
# non-disaster related tweets

df = get_old_tweets(hashtag = '', since = '2019-07-04', until = '2019-07-06', center = ['Ridgecrest'])

In [21]:
df.head()

,id,text,keyword,user_name,date,location
0,1147294084094136320,"First of all, that‚Äôs not true for everyone. I‚Äô...",,Ashleyy_Raeee,2019-07-05 23:59:59+00:00,
1,1147294084081442817,„Å™„Çì„Åß„Åª„Çì„Å®„ÅäÂâç„Åù„Çì„Å™„Å´‰∏äÊâã„ÅÑ„ÅÆ„ÄÅ„Åà„Åê„Åô„Åé„ÇÑ„Çç,,CHUPACABRA330,2019-07-05 23:59:59+00:00,
2,1147294084081434624,maine huag kng magpauto sa ABS CBN huag mng ga...,,pearlbalbuena1,2019-07-05 23:59:59+00:00,
3,1147294084077195265,(*¬¥„Å§_‚äÇÔΩÄ),,akiramikuver,2019-07-05 23:59:59+00:00,
4,1147294084073082880,Ah poto sebelumnya diapus. Ga asik,,tommonstertom,2019-07-05 23:59:59+00:00,

In [22]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   id         10000 non-null  object
 1   text       10000 non-null  object
 2   keyword    10000 non-null  object
 3   user_name  10000 non-null  object
 4   date       10000 non-null  datetime64[ns, UTC]
 5   location   10000 non-null  object
dtypes: datetime64[ns, UTC](1), object(5)
memory usage: 468.9+ KB

In [23]:
# save the results to a csv file

df.to_csv('/Users/juhee/Desktop/GA/lsmtmp/juhee/data/everything.csv', index = False)